@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    

}
/* DETAIL */
.background-detail{
    position:absolute ;
    width: 100%;
    height: 100vh ;
    z-index: -10;
}
.background-detail img{
    width: 100%;
    height: 100%;
    /* opacity: 0.1; */
   filter: brightness(0.2);
}
/* main */
.background2{
    position:absolute ;
     width: 100%;
     /* height: 100vh ; */
     z-index: -10;
   
 }
 .background2 img{
     width: 100%;
     height: 250vh;
     opacity: 0.2;
     filter: blur(1);
     /* filter: brightness(0.2); */
 }

 /* nav */
.nav-bar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    height: 80px;
    width: 100%;
    z-index: 100;
    /* background-color: coral; */
    transition: 0.5s;
    /* position: fixed; */
   
}
.link-list{
    list-style: none;
    height: 100%;
    /* background: #000; */
    display: flex;
   align-items: center;
   justify-content: center;
}
.logo{
  
    padding-left: 30px;
}
.link-list li{
    display: inline-block;
    padding: 0 50px;
}
.link-list li a{
    font-family: "Bebas Neue", sans-serif;
    filter: none;
    font-size: 1.5rem;
    color: orange;
    text-decoration: none;
    transition:  0.5s;
}
.link-list li a:hover{
    color: rgb(62, 119, 232);
    
    width: 10px;
}
.nav-bar .login{
    /* background: #000; */
    height: 100%;
    display: flex;
    align-items: center;
    /* background: #000; */
    margin-right: 100px;
}
.nav-bar .login #btn{
    /* background: #af6e6e; */
    color: rgb(62, 119, 232);

    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    text-shadow: rgb(255, 0, 0)  10px;
    margin-bottom: 20px;
}

/* slide */


.content-header{
    
    display: grid;
    grid-template-columns:repeat(2,50%);
    align-items: center;
    /* background-color: antiquewhite; */
}
.img-nav{
     margin-top: 12rem;
    /* background: url(../../public/image/haikyu.png) ; */
    justify-content: center;
    width: 45rem;
    height: 28rem;
    border-radius: 12px;
    /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
    /* background-color: blue; */
    /* padding: 5px; */
    backdrop-filter: blur(1px);
    /* margin-left: 5rem; */
    
}
.img-nav img{
  object-fit: contain;
  width: 100%;
  height: 100%;
   
}

.nav-right{
    margin-top: 9rem;
    width: 40rem;
    font-size: 2rem;
}
.nav-right span abbr{
    text-decoration: none;
}
.nav-right .btn{
    background-color: orange;
    width: 10rem;
   
}

.main-right{
    margin-top: 9rem;
    width: 40rem;
    font-size: 2rem;
}
.main-right .btn{
    background-color: orange;
    width: 10rem;
   
}

/* main */

.main-content{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    /* grid-template-columns: 10%; */
     align-items: center;
     width: 100%;
     height: 57vh;
    
     /* background: #000; */
     overflow-x: scroll;
     scrollbar-width: none; /* For Firefox */
   -ms-overflow-style: none;
 }

.main-content::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
  }

.main-img1{
    position: relative;
    width: 20rem;
    height: 400px;
    background: #c4212100;
    margin: 10px;
    /* z-index: 1; */
    overflow: hidden;
    border-radius: 24px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.images {
    position: absolute;
    width: 20rem;
    height: 100%;
    z-index: -1;
}
.images img{
    /* position: absolute; */
    width: 100%;
    height: 100%;
   
}

.main-content .text{
    position: absolute;
    color: beige;
    display: flex;
    bottom: -100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}
.main-img1:hover .text {
         bottom: 1%;
        
}

.main-img1:hover {
    
    -webkit-box-shadow: inset -9px -82px 113px -8px rgba(0,0,0,0.75);
     -moz-box-shadow: inset -9px -82px 113px -8px rgba(0,0,0,0.75);
   
     box-shadow: inset -9px -82px 113px -8px rgba(0,0,0,0.75); 
}


.tittle{
    margin-top:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* background: #000; */
    /* flex-direction: ; */
}

/* footer */
.footer{
    /* position: fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
   
    background: orange;
    width: 100%;
    height: 80px;
    transition: 0.5s;
}

.footer ul li{
    color: aliceblue;
    display: inline-block;
}
.footer:hover{
    background-color: rgb(62, 119, 232) ;
    
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<detail>>>>>>>>>>>>>>>>>>>> */

.contain-detail{
    position: relative;
    /* z-index: 10; */
    height: 100vh;
    display: flex;
    /* grid-template-columns: repeat(1 , 90% , 10%); */
    /* background: #000; */
}
.watch-side {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:  #000; */
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.watch-side video{
    width: 80%;
}
.episode{
    width: 25%;
    /* background-color: blue; */
    display: grid;
    grid-template-columns: repeat(1);
    align-items: center;
    margin-bottom: 45px;
    z-index: 100;
    /* justify-content: flex-start; */
    
}
.contain-ep{
    width: 100%;
    position: absolute;
    border-radius: 12px 0 0 12px;
    height: 75vh;
    box-shadow:
        inset 0 10px 20px rgb(0, 0, 0), /* Top shadow */
        inset 0 -10px 20px rgb(0, 0, 0); /* Bottom shadow */
    overflow: scroll;
    scrollbar-width: none;
    
}
.contain-ep .ep{
   /* z-index: -1; */
   display: flex;
   position: relative;
    z-index: -10;
   padding: 10px;
   
   
}
.contain-ep .text {
    height: 100px;
    width: 250px;
    background-color: blue;
    border-radius: 0 12px 12px 0;
}
.ep .image{
    width: 100px;
    height: 100px;
    border-radius: 12px 0 0 12px;
    overflow: hidden;
}
.ep img {
    width: 100%;
    height: 100%;
}