
@media only screen and (min-width: 360px){
    /*======================NAVBAR */
  
    .link-list{
        display: none;
    }
    .login button{
        display: none;
    }
    /* ===============MAIN CONTENT */
    /* bg main */
    .background2 {
        height: 120rem;
    }
    .background2 img{
        height: 100%;
    }
    /* Auto slide image */
    .content-header{
        width: auto;
    
        object-fit:contain;
       
       display: grid;
       grid-template-columns:repeat(1,100%);
       /* background-color: black; */
    }
    .img-nav {
        width: 100%;
        height: 350px;
       margin-top: 85px;
       padding: 10px;
       /* justify-content: center; */
       /* background-color: blueviolet; */
      /* object-fit:contain; */
     
      /* background-color: wheat; */
      
    }
    .nav-right{
        width: auto;
        margin-top: 0;
        padding: 10px;
        
        /* object-fit:fill; */
       
       
    }

    
    .nav-right .text{
        margin-top: 0;
        font-size: 1.5rem;
        /* display: flex; */
        /* padding: 20px; */
        /* background-color: aqua; */
       
    }
    /* Slide */
    .main-content{
        height: 30rem ;
        /* background-color: blueviolet; */
    }
   .main-img1 {
        width: 19rem;
        height: 100%;
    }
    .main-img1 .images {
        width: 19rem;
    }
    /* footer */
    .footer{
        display: none;
    
    }

        /* Watching */
        .contain-detail{
            display: flex;
            flex-direction: column;
             
         }
         .watch-side {
             margin-top: 39px;
             width: 100%;
             height: 100%;
             /* background-color: rgb(255, 255, 255); */
             display: block;
            
         }
         .watch-side video{
             width: 100%;
             height: 100%;
     
         }
         .episode{
             width: 100%;
             height: 100%;
             display: block;
            
             
         }
         .contain-ep{
             width: 100%;
             height: 53%;
             border-radius: 0;
         }
         .contain-ep .text {
             height: 80px;
             width: 250px;
             
         }
         .ep .image{
             width: 100px;
             height: 80px;
            
         }

 
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-bar{
       display: flex;
    }
    .link-list{
        display: flex;
        
    }
    .link-list li a{
        font-size: 1.2rem;
        
    }
    .login button{
        text-decoration: none;
        display: flex;
        
    }
    .nav-bar .login button {
        font-size: 1.2rem;
    }
  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .nav-bar{
        display: flex;
       
     }
     .link-list{
         display: flex;
        
        text-wrap: none;
         
     }
     .link-list li a{
        padding: 5px 1px;
        /* margin: 0 5px; */
         font-size: 1rem;
         /* background-color: blue; */
        
         
     }
     .login button{
         text-decoration: none;
         display: flex;
         
     }
     .nav-bar .login button {
         font-size: 1rem;
     }

     /* detail */
     .contain-ep .text {
        width: 50%;
        background-color:rgb(0, 0, 0);
        border-radius: 0 12px 12px 0;
       
    }
    .episode{
       
      margin: 0 auto;
      justify-content: center;
      /* background-color: blue; */
      /* padding: 0 10; */
        
    }
   
   
}
/*  */
@media only screen and (min-width: 800px)and(max-width: 890px) {
    .contain-detail .watch-side {
        margin-top: 150px;
        background-color: blueviolet;
    }
   
   
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .link-list li{
        display: flex;
        display: inline-block;
        /* padding: 0 10px; */
    }
    .login a{
        text-decoration: none;
        display: flex;
    }
   
    .content-header{
        width: 100%;
        display: grid;
        grid-template-columns:repeat(2,50%);
        align-items: center;
    }
    .img-nav{
        margin-top: 12rem;
       /* background: url(../../public/image/haikyu.png) ; */
       justify-content: center;
       width: 45rem;
       height: 28rem;
       border-radius: 12px;
       /* box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px; */
       /* background-color: blue; */
       /* padding: 5px; */
       backdrop-filter: blur(1px);
       /* margin-left: 5rem; */
       
   }
   .img-nav img{
     object-fit: contain;
     width: 100%;
     height: 100%;
      
   }
   .nav-right{
    margin-top: 9rem;
    width: 20rem;
    font-size: 2.5rem;
    }
    .footer{
        display: flex;
    }
    /* watch */
    
    .contain-detail{
        
        height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,75% 25%);

    }
    .watch-side {
        
        display: flex;
        justify-content: center;
        align-items: center;
     
    }
    .watch-side video{
        width: 90%;
        height: 75%;
    }
    .episode{
       
        /* background-color: blue; */
        display: grid;
        grid-template-columns: repeat(1);
        align-items: center;
        margin-bottom: 45px;
        z-index: 100;
        /* justify-content: flex-start; */
        
    }
    .contain-ep{
        width: 25%;
        
        border-radius: 12px 0 0 12px;
        height: 75vh;
        box-shadow:
            inset 0 10px 20px rgb(0, 0, 0), /* Top shadow */
            inset 0 -10px 20px rgb(0, 0, 0); /* Bottom shadow */
        overflow: scroll;
        scrollbar-width: none;
        
    }
    .contain-ep .ep{
       /* z-index: -1; */
       display: flex;
      
        z-index: -10;
       padding: 10px;
       
       
    }
    .contain-ep .text {
        height: 100px;
        width: 100%;
        background-color:olivedrab;
        border-radius: 0 12px 12px 0;
    }
    .ep .image{
        width: 100px;
        height: 100px;
        border-radius: 12px 0 0 12px;
        overflow: hidden;
    }
    .ep img {
        width: 100%;
        height: 100%;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    /* .nav-bar{

        background-color: rgb(0, 136, 255);
    } */
    .link-list li a{
       
        font-size: 1.5rem;
       
    }
    .nav-bar .login #btn{
      
       
        font-size: 1.5rem;
       
    }
    
    .content-header{
        width: 100%;
        display: grid;
        grid-template-columns:repeat(2,50%);
        align-items: center;
        
    }
    .img-nav{
     
       width: 45rem;
       height: 28rem;
      
       backdrop-filter: blur(1px);
       /* margin-left: 5rem; */
       
   }
   .img-nav img{
     object-fit: contain;
     width: 100%;
     height: 100%;
      
   }
   .nav-right{
    margin-top: 9rem;
    width: 40rem;
    font-size: 2rem;
}
.footer{
    display: flex;
}

}